{% extends "layout.html" %}
{% block title %} Rankings {% endblock %}
{% block body %}
<h1>Ranking Results</h1>

<h3>School Friends</h3>
<div>
<table class="table table-striped table-bordered">
  <tr>
    <td>Battle Net ID</td>
    <td>Eliminations</td>
    <td>Deaths</td>
    <td>K/D Ratio</td>
    <td>Healing Done</td>
    <td>Gold Medals</td>
  </tr>

  <tr>
    <td>Kasey#12623</td>
    <td>9</td>
    <td>9</td>
    <td>1:1</td>
    <td>14,000</td>
    <td>50</td>
  </tr>
  <tr>
    <td>Miko#12345</td>
    <td>100</td>
    <td>2</td>
    <td>50:1</td>
    <td>0</td>
    <td>130</td>
  </tr>
</table>

{% endblock %}
